.indent
{
	margin-left: 20px;
}
img
{
	display: block;
	margin: 20px 0;
}
a img
{
	display: inline;
	margin: 4px 2px;
	border: 0;
}
iframe
{
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px dotted #ccc;
	padding: 0;
	overflow: hidden;
}
#languages
{
	height: 32px;
}

body {	font-size: medium;	font-family: serif;}